div{
    height: 100px;
    width: 100px;
    background-color: bisque;
    border: 1px solid black;
}

.translated{
    transform: perspective(15px) translateZ(-10px);
}

.scale{
    margin-left: 100px;
    transform: perspective(10px) scaleZ(2) rotateY(-15deg);
}