*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: sevillana;
    src: url(Sevillana-Regular.ttf);
}
body{
    background-color: rgb(247, 237, 229);
    color: gray;
    font-weight: 400;
    
}

.wrapper{
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    /* padding-top: 75px; */
    display: flex;
    height: 55%;
    width: 700px;
    border: 1px solid rgb(255, 223, 163);
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    
}
.pic{
    /* border: 2px solid black; */
    
    height: 100%;
    width: 45%;
    overflow: hidden;
    object-fit: cover;
    /* filter: drop-shadow(0 0 10px #333); */
    margin-right: 20px;
    object-fit: contain;
    
}
.pic img{
    height: 100%;
    width: 100%;
    border-radius: 20px 0px 0px 20px;
}

.box{
    margin: 1rem 1.5rem;
    height: 100%;
    width: 50%;
    text-align: left;
    
}
.ligt{
    margin-top: 8px;
    padding: 4px 0px;
    letter-spacing: 3px;
}
.heading{
    color: black;
    margin-top: 4px;
}

.para{
    margin: 1x 0px;
    padding-top: 1rem;
    font-size: 1.5rem;
    font-family: sevillana;
    line-height: 2rem;
}

.sell{
    /* padding-top: 2rem; */
    font-size: 30px;
    color: rgb(37, 114, 84);
    font-weight: 600;
    margin-right: 10px;
}

.original{
    padding-top: 2rem;
}
.click{

    background-color:rgb(37, 114, 84);
    border-radius: 10px;
    color: white;
    font-size: 19px;
    text-align: center;
    width: 100%;
    height: 10%;
    margin-top: 2rem;
}

.click img{
    margin-right: 1.5rem;
    height: 1.5rem;
}
